@use "./config/variables" as v;
@use "./common" as c;
main {
    position: relative;
}
img.top_logo {
    width: 21.1458%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation-name: fadeInAnime;
    animation-duration:5s;
    animation-fill-mode:forwards;
    opacity: 0;
    @media screen and (max-width: 768px) {
        width: 140px;
        height: auto;
    }
}

/*********************************
	MOVIE
*********************************/

.top_container {
  width: 68.75%;
  margin: auto;
  @media screen and (max-width: 768px) {
      width: 100%;
  }
}
.sec_ttl {
  text-align: center;
  margin-bottom: 7rem;
  @media screen and (max-width: 768px) {
      margin-bottom: 50px;
  }
  span {
    font-size: clamp(24px,3.2rem,40px);
    display: block;
    letter-spacing: 0.1em;
    font-weight: 500;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
  }
  small {
    font-size: 14px;
    display: block;
    font-weight: normal;
    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
  }
}

a.more_btn {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: clamp(14px,1.4rem,18px);
  text-align: center;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;
  letter-spacing: 0.1em;
  margin-top: 10rem;
  transition: all 0.3s;
  border: 1px solid #000;
  &:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
  }
  @media screen and (max-width: 768px) {
      width: 220px;
      padding: 15px 0;
  }
}
#movie {
  padding-top: 30rem;
  @media screen and (max-width: 768px) {
      padding-top: 110px;
  }
}
.movie_work_list {
  @media screen and (max-width: 768px) {
      width: 83.5%;
      margin-right: auto;
      margin-left: auto;
  }
  ul {
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
          align-items: flex-start;
      }
      li {
          width: 32.116%;
          margin-bottom: 30px;
          @media screen and (max-width: 768px) {
              width: 48%;
          }
          a {
              div.thumbnail {
                  width: 100%;
                  padding: 35.608% 0;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: 130%;
                  transition: background-size 0.3s ease-in-out;
                  box-sizing: border-box;
                  
                  &:hover {
                      background-size: 150%;
                      outline: 2px solid #000;
                      outline-offset: -2px;
                  }
              }
              h3 {
                  font-size: 14px;
                  letter-spacing: 0.05em;
                  line-height: 30px;
                  color: #000;
                  font-weight: 500;
                  word-break: break-all;

                  @media screen and (max-width: 768px) {
                      font-size: 12px;
                      font-weight: normal;
                      line-height: 1.5;
                      margin-top: 8px;
                  }
              }
          }
      }
  }
}


/*********************************
	PHOTO
*********************************/
#photo {
  padding-top: 25rem;
  @media screen and (max-width: 768px) {
      padding-top: 120px;
  }
  .photo_work_list {
    ul {
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
        }
        li {
            margin-right: 1.826%;
            &:nth-child(3n) {
                margin-right: 0;
            }
            @media screen and (max-width: 768px) {
                width: 48%;
                margin-right: 0;
            }
            a {
                div.thumbnail {
                    padding: 70.5% 0;
                }
                @media screen and (max-width: 768px) {
                    h3 {
                        margin-left: 0;
                    }
                }
            }
        }
    }
  }
}

/*********************************
	BRAND
*********************************/
#brand {
  padding-top: 25rem;
  @media screen and (max-width: 768px) {
      padding-top: 120px;
  }
  .brand_list {
    ul li {
      width: 32%;
      a {
        div.thumbnail {
          padding: 50% 0;
        }
      }
    }
  }
}

/*********************************
	SALON
*********************************/

#salon {
  padding-top: 25rem;
  @media screen and (max-width: 768px) {
      padding-top: 120px;
  }
  ul.salon_list {
    @media screen and (max-width: 768px) {
        width: 83.5%;
        margin: auto;
    }
    li {
      width: 32%;
      @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 70px;
      }
      .salon_thumb {
        padding-top: 70%;
        @include v.bg;
        margin-bottom: 3rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px
        }
      }
      .salon_info {
        h2 {
          margin-bottom: 1.5rem;
          font-size: clamp(14px,1.4rem,18px);
          letter-spacing: 0.05em;
          font-weight: 500;
          @media screen and (max-width: 768px) {
              margin-bottom: 10px;
          }
        }
        span.salon_cat {
          font-size: clamp(12px,1.4rem,16px);
          display: block;
          margin-bottom: 4rem;
          letter-spacing: 0.05em;
          @media screen and (max-width: 768px) {
              margin-bottom: 17px;
          }
        }
        span.salon_address {
          font-size: clamp(12px,1.4rem,16px);
          letter-spacing: 0.05em;
        }
      }
      .salon_01 {
        background-image: url(./../images/salon_list01.jpg);
      }
      .salon_02 {
        background-image: url(./../images/salon_list02.jpg);
      }
      .salon_03 {
        background-image: url(./../images/salon_list03.jpg);
      }
    }
  }
  .salon_link_wrap {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 768px) {
        width: 100%;
        a.more_btn {
          margin-top: 0;
          margin-bottom: 20px;
        }
    }
    a {
      transition: all 0.3s;
      &:hover {
        svg {
          fill: #000;
        }
        .shop_icon {
          stroke: #000;
        }
      }
  
    }
    img {
      width: 10%;
      padding-right: 8px;
    }
    svg {
      width: 10%;
      padding-right: 10px;
      vertical-align: middle;
      fill: #fff;
      transition: all 0.3s;
      &.shop_icon {
        stroke: #fff;
        transition: all 0.3s;
        
      }
    }
    span {
      vertical-align: middle;
    }
  }
}

/*********************************
	COMPANY
*********************************/
#company {
  padding-top: 25rem;
  padding-bottom: 25rem;
  @media screen and (max-width: 768px) {
      padding-top: 120px;
      padding-bottom: 120px;
  }
  h1 {
    text-align: left;
    @media screen and (max-width: 768px) {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
  }
  .company_wrap {
    align-items: flex-start;
    .company_ttl_wrap {
      width: 60%;
      margin: 0 auto;
      a.pc {
        display: block;
        margin-left: 0;
        @media screen and (max-width: 768px) {
            display: none;
        }
      }
      @media screen and (max-width: 768px) {
          width: 83.5%;
      }
    }
  }
  .company_info {
    width: 60%;
    a.sp {
      display: none;
      @media screen and (max-width: 768px) {
          display: block;
          margin: 60px auto 0 auto;
      }
    }
    @media screen and (max-width: 768px) {
        width: 83.5%;
        margin: auto;
    }
    dl {
      font-size: 16px;
      padding-bottom: 2rem;
      padding-top: 2rem;
      border-bottom: 1px solid #000;
      letter-spacing: 0.1em;
      @media screen and (max-width: 768px) {
          padding-bottom: 15px;
          margin-bottom: 15px;
          font-size: 14px;
      }
      dt {
        width: 23%;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 10px;
        }
      }
      dd {
        width: 77%;
        line-height: 1.75;
        word-break: break-all;
        @media screen and (max-width: 768px) {
            width: 100%;
            
        }
      }
    }
  }
}

@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }